html {
    scroll-behavior: smooth;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
}

body {
    background-color: black;
    color: #F8F8FF;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: rgba(0, 0, 0, 0);;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    color: #F8F8FF;
    background-color: rgba(52, 50, 168, 1);
    border-color: #3432a8;
    border-width: 4px;
    border-radius: 20px;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 2px;
    padding: .5rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.nav-item a {
    background-color: rgba(52, 50, 168, 0.4);
    color: #F8F8FF;
    text-decoration: none;
    margin-right: 1.5rem;
    padding: .5rem 1rem;
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    letter-spacing: 3.5px;
    border-color: #3432a8;
    border-width: 4px;
    border-radius: 15px;
}

.nav-item a:hover {
    background-color: rgba(52, 50, 168, 1);
}

.intro-container {
    background-image: url(./Images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    min-height: 700px;
}

.intro-text-container {
    /*display: block;
    align-items: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #F8F8FF;
    margin: 0;
    margin: 4rem 1rem 0 1rem;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.intro-text-container h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: .7rem;
}

.intro-text-container p {
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    width: 70%;
    letter-spacing: 2px;
    line-height: 2;

}

p.stack {
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
}

.intro-text-container img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 0 1.2rem 0;
    padding: 0;
}


.about-me-text-container {
    display: grid;
    grid-template-columns: repeat(21, .3fr);
    grid-template-rows: repeat(5, .2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.about-me-text-container h2 {
    text-align: center;
    background-color: rgba(52, 50, 168, .6);
    border: solid 2px rgba(89, 88, 166);
    box-shadow: 0 0 30px rgba(52, 50, 168, .8);
    border-radius: 10px;
    font-size: 4rem;
    font-weight: 700;
    grid-column-start: 4; 
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    /*margin: 3;*/
    padding: 3rem .3rem;
}

.about-me-text-container ul {
    text-align: center;
    background-color: rgba(52, 50, 168, .6);
    border: solid 2px rgba(89, 88, 166);
    box-shadow: 0 0 30px rgba(52, 50, 168, .8);
    border-radius: 10px;
    list-style-type: none;
    margin-top: 3rem;
    padding: 2rem 1rem;
    grid-column-start: 12; 
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 5;
}

.about-me-text-container li {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 50px 0;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}

#skills h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    text-decoration: underline;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    
}

#skills-container > *{
    font-size: 3.3em;
    width: 2em;
}

#projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    text-decoration: underline;
}

.project {
    display: grid;
    grid-template-columns: repeat(21, .3fr);
    grid-template-rows: repeat(5, .2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.3rem;
}

.project h3 {
    font-size: 2rem;
    background-color: rgba(52, 50, 168, .8);
    grid-column-start: 3; 
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 10px;
}

.project-image {
    max-width: 100%;
    width: 460px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
    grid-column-start: 9; 
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
}

.project p {
    font-size: 1.5rem;
    grid-column-start: 15; 
    grid-column-end: 19;
    grid-row-start: 2;
    grid-row-end: 4;
}

footer {
    font-size: 1.3rem;
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
    letter-spacing: 2.3px;
    border-top: solid 2px #3432a8;
}

@media screen and (max-width: 768px) {
    nav {
        visibility: hidden;
    }

    .intro-text-container {
        margin: 2rem 1rem 0 1rem;
    }

    .intro-text-container h1 {
        font-size: 3.5rem;
    }

    .intro-text-container p {
        width: 90%;
    }

    .about-me-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
    }

    .about-me-text-container h2 {
        font-size: 3rem;
        padding: 2rem 1rem;
    }

    .about-me-text-container ul {
        padding: 1rem;
        display: block;
    }

    #skills h2 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }

    #skills-container > * {
        font-size: 2.5rem;
    }

    #projects {
        font-size: 2.5rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Media query for screens up to 480px */
@media screen and (max-width: 480px) {
    nav {
        visibility: hidden;
    }

    .intro-text-container h1 {
        font-size: 2.5rem;
    }

    .intro-text-container p {
        width: 100%;
    }

    .about-me-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
    }

    .about-me-text-container h2 {
        font-size: 2rem;
        padding: 1.5rem 1rem;
    }

    .about-me-text-container ul {
        padding: 1rem;
    }

    #skills h2 {
        font-size: 2rem;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    #skills-container > * {
        font-size: 2rem;
    }

    #projects {
        font-size: 2rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
